body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

p {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 75%;
    padding: 10px;
    margin: 30px auto;
    height: 90px;
    font-size: x-large;
}

button {
    width: 150px;
    margin-top: 10px;
    border: 2px solid #46b8da;
    font-weight: bold;
    padding: 5px;
    color: #045;
}

button:hover {
    cursor: pointer;
    background: #09c;
    color: #fff;
}

button:active {
    cursor: pointer;
}
